*.exe filter=lfs diff=lfs merge=lfs -text
GolfCoaching/Assets/Plugins/ffmpeg/bin/ffmpeg filter=lfs diff=lfs merge=lfs -text
GolfCoaching/Assets/Plugins/ffmpeg/bin/ffplay filter=lfs diff=lfs merge=lfs -text
GolfCoaching/Assets/Plugins/ffmpeg/bin/ffprobe filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/INab[[:space:]]Studio/Demo[[:space:]]Assets/Unity[[:space:]]Companion[[:space:]]License/3D[[:space:]]Game[[:space:]]Kit[[:space:]]-[[:space:]]Props[[:space:]]Pack/Assets/FloorCircular01_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/MocapData/Metadio/drill_type4_edit_Fin2.fbx filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/Plugins/RootMotion/FinalIK/_DEMOS/Baker/Baked[[:space:]]Clips/AimIK/Idle_Aiming.anim filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/Plugins/RootMotion/Shared[[:space:]]Demo[[:space:]]Assets/Characters/Teddy/Textures/Teddy_DIF.psd filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/Plugins/RootMotion/Shared[[:space:]]Demo[[:space:]]Assets/Humanoid[[:space:]]Animations/Crouch.fbx filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/Resources/pose_landmarker_full.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/Resources/pose_landmarker_lite.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/UMotionEditor/Plugins/MacOS/Editor/x64/UMotionFBX_Mac_x64.bundle filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/UMotionEditor/Plugins/Windows/Editor/x64/UMotionFBX_Win_x64.dll filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/UMotionExamples/Exported[[:space:]]Animations/Idle.anim filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/UMotionExamples/Miscellaneous/Robot[[:space:]]Kyle/Textures/Robot_Color.tga filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/UMotionExamples/Miscellaneous/Robot[[:space:]]Kyle/Textures/Robot_Normal.tga filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Art/Models/golf[[:space:]]stick.FBX filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-Black.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-Bold.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-ExtraBold.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-ExtraLight.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-Light.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-Medium.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-Regular[[:space:]]SDF-special.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-Regular.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-SemiBold.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/Noto_Sans_KR/static/NotoSansKR-Thin.ttf filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/NotoSans/NotoSansKR-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/NotoSans/NotoSansKR-Regular[[:space:]]SDF_Toast.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/NotoSans/NotoSansKR-VariableFont_wght[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/300_Pretendard-Light[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/400_Pretendard-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/500_Pretendard-Medium[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/600_Pretendard-SemiBold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/700_Pretendard-Bold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/800_Pretendard-ExtraBold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/Pretendard-Black[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/Pretendard-ExtraLight[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/Pretendard-Light[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/Pretendard/Pretendard-Thin[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Fonts/TMP/S_Core/SCDream6_bold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Temp/mocap/AnimationClip/Golf[[:space:]]Drive2.fbx filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Assets/_MainAssets/Temp/mocap/Idle.anim filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/efficientdet_lite0_float16.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/efficientdet_lite0_float32.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/efficientdet_lite2_float16.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/efficientdet_lite2_float32.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/efficientdet_lite2_int8.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/gesture_recognizer.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/hand_landmark_full.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/hand_landmarker.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/holistic_landmarker.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/pose_landmark_full.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/pose_landmark_heavy.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/pose_landmarker_full.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/pose_landmarker_heavy.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/pose_landmarker_lite.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/selfie_multiclass_256x256.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/ssd_mobilenet_v2_float16.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/ssd_mobilenet_v2_float32.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/ssdlite_object_detection.bytes filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/Runtime/Plugins/Android/mediapipe_android.aar filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/Runtime/Plugins/iOS/MediaPipeUnity.framework/MediaPipeUnity filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/Runtime/Plugins/libmediapipe_c.dylib filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/Runtime/Plugins/libmediapipe_c.so filter=lfs diff=lfs merge=lfs -text
/GolfCoaching/Packages/com.github.homuler.mediapipe/Runtime/Plugins/mediapipe_c.dll filter=lfs diff=lfs merge=lfs -text
